<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}Wafa
			{% endblock %}
		</title>


		<!-- Mobile Specific Metas -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Construction Html5 Template">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<!-- Animation -->
		<link
		rel="stylesheet" href="/animate/animate.css">
		<!-- slick Carousel -->
		<link rel="stylesheet" href="/slick/slick.css">
		<link
		rel="stylesheet" href="/slick/slick-theme.css">
		<!-- Colorbox -->
		<link
		rel="stylesheet" href="/colorbox/colorbox.css">
		<!-- Template styles-->
		<link rel="stylesheet" href="css/style.css">
		<script src="https://kit.fontawesome.com/5da465d417.js" crossorigin="anonymous"></script>

		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}
	</head>


	<body>


		{% block body %}{% endblock %}

		<!-- initialize jQuery Library -->
		<script src="/jQury/jQuery/jquery.min.js"></script>
		<!-- Bootstrap jQuery -->
		<script src="/css/bootstrap/bootstrap.min.js" defer></script>
		<!-- Slick Carousel -->
		<script src="/slick/slick.min.js"></script>
		<script src="/slick/slick-animation.min.js"></script>
		<!-- Color box -->
		<script src="/colorbox/jquery.colorbox.js"></script>
		<!-- shuffle -->
		<script src="/shuffle/shuffle.min.js" defer></script>
		<!-- js -->
		<script src="js/script.js"></script>

	</body>
</html>
